body {
    background-color: #404040;
}

p {
    font-size: 130%;
    text-align: center;
    color: whitesmoke;
}

span {
    margin: 1em;
    color: whitesmoke;
    font-size: 200%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.title {
    margin: 1em;
    color: whitesmoke;
    font-size: 200%;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.options{
    display: flex;
    justify-content: center;
}

.option {
    border-radius: 100%;
    margin: 0.5em;
}
.option_clicked{
    border-radius: 100%;
    margin: 0.5em;
    box-shadow: 0 0.5em 0.5em 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.game_field {
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.8) 0%,
    rgba(50, 50, 50, 0.8) 100%), url('/static/img/background.jpeg');
    height: 27em;
    width: 48em;
    border: 3px solid gray;
    border-radius: 1em;
}

.button {
    font-size: 1em;
    background-color: #404040;
    border: 1px solid black;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    /*margin: 0 0.5em;*/
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    background-color: #0794EA;
}

.cell {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* TEST PROPERTIES: */
    color: #c7ff5c;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
