<!DOCTYPE html>
<html lang="en">
<head>
    <title>BDM - Phage Wars</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename= 'img/virus_yellow.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="static/js/game.js" defer></script>
</head>
<body>
    <div class="container center">
        <div class="title">
            <span>BDM - Phage Wars</span>
        </div>
        <div class="game_field">

        </div>
        <div class="stats">
        <span>statystyki</span>
        </div>
    </div>
    <div class="cursor"></div>
</body>
</html>
