<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BDM - Phage Wars</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename= 'img/virus_yellow.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="static/js/main.js" defer></script>
</head>
<body>

<div class="container center">
        <div class="title">
            <span>BDM - Phage Wars</span>
        </div>
        <div class="game_field center">
            <div id="main_menu">
                <div> <p>You are a deadly virus. <br>
                    Your job is to infect all the cells in your body. <br>
                    <b>But watch out!</b><br>
                    The organism is also infected with other viruses! <br>
                    Choose the right strategy and beat your opponents. <br>
                    Good luck!</p></div>
                <div><span>Please select your phage color!</span></div>
                <form action="/game">
                    <div class="options">
                        <div class="option" id="green"><img src="/static/img/virus_green.png" alt="green" width="100"></div>
                        <div class="option" id="yellow"><img src="/static/img/virus_yellow.png" alt="green" width="100"></div>
                        <div class="option" id="blue"><img src="/static/img/virus_blue.png" alt="green" width="100"></div>
                        <div class="option" id="purple"><img src="/static/img/virus_purple.png" alt="green" width="100"></div>
                    </div>
                    <audio id="theme" src="{{ url_for('static', filename='audio/Theme.mp3') }}" autoplay=""></audio>
                    <div class="center">
                        <button class="button" type="submit">START</button>

                    </div>
                </form>
            </div>
        </div>
        <div class="stats">
        </div>
    </div>
</body>
</html>